# =========================
# PYTHON
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VIRTUAL ENVIRONMENT
# =========================

.venv/
venv/

# =========================
# VS CODE
# =========================

.vscode/

# =========================
# JUPYTER
# =========================

.ipynb_checkpoints/

# =========================
# GENERATED RESULTS
# =========================

ISAC_Project/results/data/
ISAC_Project/results/logs/

# =========================
# MATLAB TEMP
# =========================

*.asv

# =========================
# WINDOWS
# =========================

Thumbs.db